<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %><br />
    Below are your previous entries.</p>
    <!-- <pre>
      <code>
        <%=  %>
      </code>
    </pre> -->
    <ul>
      <% for(var i=0; i<diaryEntries.length; i++) { %>
        <li>

          <label>Last updated: </label><%= diaryEntries.getDate(diaryEntries[i].lastUpdated).format('MM-DD-YYYY HH:mm') %>

          <button class='view button'>View</button>
          <br />

          <!-- <% if (diaryEntries[i].title) { %>
            <b><%= diaryEntries[i].title %></b> <br />
          <% } else { %>
            <%= '' %> <br />
          <% } %>   -->

          <%= diaryEntries[i].body %> <br />

          <!-- <p>Categories: <br /></p>
          <% diaryEntries[i].categories.forEach(function(element) { %>
            <%= element %> <br />
          <% }) %> -->

          <p>Tags: <br /></p>
          <% diaryEntries[i].tags.forEach(function(element) { %>
            <%= element %> <br />
          <% }) %>

          <label>Created: </label><%= diaryEntries.getDate(diaryEntries[i].created).format('MM-DD-YYYY HH:mm') %> <br />



        </li>
        <br />
        <br />
        <div class="line"></div>
        <br />
        <br />
      <% } %>
    </ul>

  </body>
</html>
