<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1><%= title %></h1>
<p>Here's your entry...</p>

<form action="'/' + diaryEntry._id + '/delete'" method='delete' class='display'>

  <p>
    Last updated: <%= diaryEntry.getDate(diaryEntry.lastUpdated).format('MM-DD-YYYY') %> at <%= diaryEntry.getDate(diaryEntry.lastUpdated).format('HH:mm') %>

    <input class="button floatRight" type="submit" name="delete" value="Delete">
  </p>

</form>

<form action="'/' + diaryEntry._id + '/edit'" method='put' class='display'>

  <textarea name="body" rows='8' cols='100' placeholder='<%=diaryEntry.body%>'></textarea>

  <input class="button floatRight" type="submit" name="save" value="Save">
  <br />

  <p>
    Tags:
    <br />

    Seperate each tag with a comma, please!
    <br />

    <input type="text" placeholder="<% diaryEntry.tags.forEach(function(element) { %>
        <%= element %> + ', '
      <% }) %>">
  </p>

</form>

<p class='display'>

  Created: <%= diaryEntry.getDate(diaryEntry.created).format('MM-DD-YYYY') %> at <%= diaryEntry.getDate(diaryEntry.created).format('HH:mm') %>

</p>

<a href='/'><button class='button'>ShrinkBot this entry!</button></a>

</body>
</html>
